body{font-family:'Yanone Kaffeesatz', sans-serif;}
.navbar-default{background-color:#000;border-color:#7EC8B1;color:#7EC8B1;}
.navbar-default .navbar-nav>li>a{color:#7EC8B1;}
.about-section{padding-top:30px;background:#fff;}
.carousel-control{background-image:none;}
.mainH1{font-size:5em;margin-top:0px;}
.services-section{padding-top:50px;}
.aboutSectionContent{padding-top:70px;}
.sectionDiv{margin-top:50px;}
.contactSection{background-color:#000;color:#fff;}
.smallTopMargin{margin-top:10px;}
.navbar{font-size:18pt;text-transform:uppercase;font-weight:300;}
.intro-section{padding-top:70px;}
.mainImage{width:100%;}
.bigImage{border:1px dashed red;width:100%;min-height:300px;background-image:url("img/hair3.jpg");}
.carousel-inner{max-height:430px;}
.item{padding-top:70px;}
.fill{min-height:430px;}
.logoHolder{min-width:98px;}
.navLogo{margin-top:10px;position:absolute;top:0px;max-height:50px;}
.imageBorder{width:100%;padding:2px;border:1px solid #cccccc;-ms-border-radius:5px;border-radius:5px;}
.table-bordered>tbody>tr>th{background-color:#000;color:#7EC8B1;}
.contactSection{color:#7EC8B1;}
.colourUndelineThin{border-bottom:1px solid #7EC8B1;}
.colourUndelineThick{border-bottom:5px solid #7EC8B1;}
.welcomeText{font-size:2em;}
.noTopMargin{margin-top:0px;}
.phoneNumber:hover{
	cursor: default;
	text-decoration: none;
}

.glyphicon-earphone{
	top:5px;font-size:25px;
}

.phoneDiv{
	font-size:30px;word-spacing:5px;
}

h1{
	font-size:30px;
}

.carouselImage1{
    background-image:url('../img/logo-longC1-black.jpg'); 
    background-repeat:none;
    background-attachment:scroll;
    background-position:center center;
    -webkit-background-size:cover;
}

.carouselImage2{
    background-image:url('../img/hair6a.jpg'); 
    background-repeat:none;
    background-attachment:scroll;
    background-position:center center;
    -webkit-background-size:cover;
}

.carouselImage3{
    background-image:url('../img/hair10.jpg'); 
    background-repeat:none;
    background-attachment:scroll;
    background-position:center center;
    -webkit-background-size:cover;
}